@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');


body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}

p{
    font-family: 'Noto Sans Display', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
