@import "base";
// ------desktop--------------
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/poduct\ bg.png');
    background-size: cover;
    background-position: top left;
}

.logo img{
    height: 40px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    background-color: $white;
    box-shadow: 2px 2px 20px rgba(90,118,253, 0.2);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;

        ul{
            display: flex;
            margin: 0px;
            padding: 0px;

                li a{
                    display: flex;
                    height: 40px;
                    line-height: 40px;
                    margin: 5px;
                    padding: 0px 22px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $black;
                    letter-spacing: 1px;
                    border-radius: 20px;
                    
                    &:hover{
                        background-color: $lightblue;
                        color: $white;
                        box-shadow: 5px 10px 30px rgba(5, 14, 61, 0.4);
                        transition: 0.5s ease-in-out;
                    }
                }

        }
}

.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

        .home-text{
            width: 500px;
            margin: 20px;

                h1{
                    font-size: 55px;
                    line-height: 55px;
                    color: #22252e;
                    letter-spacing: 1px;
                    font-weight: 700;
                    margin: 0;
                }

                p{
                    font-size: 16px;
                    color: #777474;
                }

                .main-login{
                    width: 120px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $lightblue;
                    color: $white;
                    font-weight: 400;
                    border-radius: 20px;
                    box-shadow: 5px 10px 30px rgba(90,118,253, 0.4);
                    text-transform: uppercase;

                        &:hover{
                            background-color: $lightblue;
                            color: $white;
                            box-shadow: 5px 10px 30px rgba(5, 14, 61, 0.4);
                            transition: 0.5s ease-in-out;
                        }
                }
        }

        .home-img{
            width: 500px;
            height: 400px;
            margin: 20px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
        }
}

.orari{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 20%;
    bottom: 10px;
    transform: translateX(-20%);

        .office-time,
        .office-number{
            margin: 0px 20px;           
        }
        
        .office-time h3,
        .office-number h3{
            font-weight: 700;
            color: #22252e;
            font-size: 25px;
            margin: 0px;
        }

        .office-time p,
        .office-number p{
            color: #7b92fd;
            font-size: 16px;
            font-weight: 500;
        }

}

.arrow{
    // display: flex;
    align-self: end;
    width: 50%;
    border-right: 1px solid $lightblue;
    height: 20%;
    margin-bottom: 64px;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: shigjeta-animation ease 1.5s;

        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 11px 0px 11px;
            border-color: $lightblue transparent transparent transparent;
            right: -11px;
            bottom: -2px;
        }
}

.scroll{
    position: absolute;
    bottom: 20px;
    right: 55px;
    font-weight: 600;
    font-family: 'Noto Sans Display', sans-serif;
}

@keyframes shigjeta-animation {
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}

.services{
    background-image: url('../img/poduct\ bg.png');
    background-size: 1000px;
    background-position: center;

        .services-heading{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
                h2{
                    line-height: 55px;
                    font-size: 35px;
                    color: #22252e;
                    font-weight: 700;

                    margin: 0px;
                }

                p{
                    font-size: 16px;
                    color: #5a76fd;
                    width: 50%;
                }
        }      
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 400px;
            text-align: center;
            box-shadow: 2px 2px 20px rgba(90,118,253, 0.15);
            border-radius: 10px;
            background-color: $white;
            margin: 20px;
            flex-grow: 1;
            
                img{
                    height: 150px;
                    margin: 10px;
                }

                h2{
                    font-size: 25px;
                    color: #22252e;
                    font-weight: 700;
                    
                }
                
                p{
                    color: #5a76fd;
                    font-size: 20px;
                    display: block;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 500px;
                }

                a{
                    width: 150px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $lightblue;
                    text-transform: uppercase;
                    // margin-bottom: 20px;
                    border-radius: 20px;
                    font-weight: 600;
                    font-size: 15px;
                    color: $lightblue;
                    margin: 0px;
                    
                        &:hover{
                            background-color: $lightblue;
                            color: $white;
                            box-shadow: 5px 10px 30px rgba(90,118,253, 0.5);
                            transition: all ease 0.5s;
                        }
                }
        }
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-top: 1px solid rgba(90, 118, 253, 0.2);

        a,p{
            color: $lightblue;
            line-height: 50px;
        }
}

nav .menu-btn{
    display: none;
}
// --------------------------------------------


//-----------media queries--------
//large devices
@media(max-width:1100px){
    @import "medium-large-devices";
}

//small devices
@media(max-width:720px){
    @import "smdevices";
}
